* {
    box-sizing: border-box;
    margin: 0;
}

button {
    width: auto;
    height: 60px;
    background-color: red;
    color: yellow;
}

#song-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song {
    background-color: grey;
    margin: 30px;
    box-shadow: 3px 4px 6px black;
    width: 30vw;
    color: white;
    height: 10vh;
    align-self: center;
    padding: 20px;
}